<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.brentvatne.react">
    <application>
        <service android:stopWithTask="false" android:name="com.brentvatne.lockscreen.MusicControlNotification$NotificationService" />
    </application>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
</manifest>
